
@media only screen and (max-width: 600px) { 
    .expanded-header-contents {
        display: none;
    }
}

@media only screen and (min-width: 600px) { 
    .hamburger-icon {
        display: none;
    }
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-items {
    height: 8vh;
    width: 8vh;
    margin: 1.5vh;
}

.asu-logo {
    width: 15vh;
}

.header-blank-space {
    flex-grow: 15;
    align-items: center;
    text-align: center;
}

.expanded-header-contents {
    flex-grow: 2;
    height: 100%;
}