.image-container {
  width: 100%;
  height: 85vh;
}

.image-container img {
  width: 100%;
  /* object-fit: contain; */
  height: inherit;
}

.image-container h1 {
  height: inherit;
}

.information-space {
  width: 100%;
  /* height: 30vh; */
}

.information {
  padding: 8vh;
}

.contact-space {
  /* width: 100%; */
  /* height: 50vh; */
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: center;
  align-items: center;
  margin: 10vh;
}

#contact-us-text {
    padding: 3vh;
    padding-top: 5vh;
}

.contact {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#sun-devil-logo {
  height: 40px;
  width: 100px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#email {
  margin: 10px;
}

.zoom a:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}