<div class="image-container rounded overflow-hidden shadow-lg " >
    <img [src]="loopingImagePath" class="w-full">
</div>
<div class="information-space bg-gray-700">
    <h1 class="information text-3xl font-mono italic text-yellow-400">Association for Computing Machinery is a society purpose 
        focused to provide unique opportunities for networking, mentoring, and bonding over common interests.
    </h1>
    <h1 class="information text-3xl font-mono italic text-yellow-400">
        At Arizona State University ACM Student Chapter, we promote educational knowledge in the fields of computing hardware, computer science, and software 
        development.
    </h1>
</div>
<h1 class="text-5xl font-sans" id="contact-us-text">Contact Us</h1>
<div class="contact-space">
    <div class="social-media-contact"></div>
    <div class="mailing-contact"></div>
</div>